@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;

}

a {
    color: inherit;
    text-decoration: none;
    color: #282c3f;
}

body {
    background: #fff;
    margin: 0;
    /* padding: 20px; */
}

                                            /* header */

header {
    width: 100%;
    height: 80px;
    /* background-color: red; */
    box-shadow: 0 4px 12px 0 #0000000d;
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 11;
}

.header-container {
    width: 1320px;
    height: 100%;
    /* border: 2px solid rgb(234, 9, 223); */
    margin: auto;
    display: flex;
    align-items: center;
    /* position: relative; */

}

.logo {
    width: 53px;
    height: 36px;
    /* border: 2px solid red; */
    background-image: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    background-position: -462px 0;
    margin-left: 20px;
}

header nav {
    width: 525px;
    height: 88px;
    /* border: 2px solid black; */
}

header nav ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

header nav ul li {
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.new {
    font-size: 10px;
    font-weight: 600;
    color: #ff3f6c;
    position: absolute;
    top: -10px;
}

.search-box {
    width: 365px;
    height: 40px;
    background-color: #f5f5f6;
    margin-left: 110px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    gap: 15px;
    border-radius: 8px;

}

.search-box input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.user-info {
    width: 194px;
    height: 40px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.user-info>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-weight: bold;
}

                           /* middle-section */
.middle-section {
    width: 100%;
    padding: 10px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.middle-section .card {
    width: 16%;
    /* height: auto; */
}

.card img {
    width: 100%;
    /* height: 100%; */
}

.index-container {
    width: 100%;
    /* height:95px ; */
    /* border: 2px solid red; */
}

.top-section {
    width: 100%;
    /* height:95px ; */
    margin-top: 10px;
    /* margin-right: 20px; */
    /* padding: top 20px; ; */
    /* padding-right: 20px; */

}

.top-section img {
    width: 100%;
    height: auto;
}

.sale-img-section {
    width: 100%;
    /* height: 321px; */
    display: flex;
}

.sale-img {
    width: 100%;
    margin-top: 10px;
    /* padding-right: 20px; */
    /* padding-left: 20px; */

}

.sale-img img {
    width: 100%;
    /* height: 321px; */
    padding-bottom: 23px;
}

.sale-img:nth-child(1) {
    padding-left: 30px;
}

.sale-img:nth-child(2) {
    padding-right: 30px;
}

                                      /* middle-img-section */
.middle-img {
    width: 100%;
    /* height: 130px; */
    display: flex;
    /* border: 2px solid red; */
}

.img-section {
    width: 100%;
    margin-top: -29px;
}

.img-section img {
    width: 100%;
    height: 136px;
    /* height: 125px; */
    padding-bottom: 9px;
}

.img-section:nth-child(1) {
    padding-left: 28px;
}

.img-section:nth-child(2) {
    /* padding-left: 10px; */
    /* padding-right: 10px; */
}

.img-section:nth-child(3) {
    /* padding-right: 10px; */
    margin-right: 28px;
}

.img-section2 {
    width: 100%;
}

.img-section2 img {
    width: 100%;
    margin-top: -14px;
    /* margin-right: 28px; */
    margin-left: 27px;
    padding-right: 55px;
}

.img-section3 {
    width: 100%;
}

.img-section3 img {
    width: 100%;
    margin-top: -5px;
    /* margin-bottom: -12px; */
}

.img-section4 {
    width: 100%;
}

.img-section4 img {
    width: 100%;
    padding-right: 83px;
    margin-left: 40px;
    margin-top: 25px;
}

.img-section5 {
    width: 100%;
}

.img-section5 img {
    width: 100%;
    padding-right: 83px;
    margin-left: 40px;
    margin-top: 25px;
}

/* footer */
.footer {
    width: 1320px;
    /* height: 100%; */
    background: #fff;
    padding: 40px 80px;
    color: #333;
    margin: auto;
}

.footer-container {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.4fr 1.6fr;
    gap: 40px;
}

.footer-col h4 {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 12px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col ul li {
    font-size: 14px;
    color: #696b79;
    margin-bottom: 8px;
    cursor: pointer;
}

.footer-col ul li:hover {
    color: #000;
}

.mt {
    margin-top: 30px;
}

.app-buttons {
    display: flex;
}

.app-buttons img {
    height: 42px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.social-icons {
    display: flex;
    gap: 14px;
    font-size: 18px;
    /* color: #696b79; */
}

.social-icons span {
    cursor: pointer;
}

.guarantee {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.guarantee-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.guarantee-item i {
    font-size: 30px;
    color: #696b79;
}

.guarantee-item p {
    font-size: 14px;
    color: #696b79;
    line-height: 1.4;
}



                             /* Men-tshirts container css */

.page-container {
    max-width: 1320px;
    margin: auto;
    padding: 20px;
    background: #fff;
    /* border: 2px solid black; */
}

.breadcrumb {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.breadcrumb span {
    font-weight: 600;
    color: #000;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 20px;
    margin: 0;
}

.count {
    font-size: 14px;
    color: #777;
    font-weight: normal;
}

.right {
    font-size: 14px;
}

.right select {
    margin-left: 5px;
    padding: 5px 8px;
}

.filters {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    border-top: 1px solid #eee;
    padding-top: 10px;
    /* margin-right: 10px; */
    padding-left: 14pxpx;
}

.filter-title {
    font-weight: 600;
    margin-right: 202px;
}

.filters select {
    padding: 6px 10px;
}

.sidebar {
    width: 260px;
    border: 1px solid #eee;
    padding: 15px;

}

.filter-section h3 {
    font-size: 13px;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-icon {
    font-size: 14px;
    cursor: pointer;
}

.checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 8px 0;
    cursor: pointer;
}

.checkbox input {
    margin-right: 10px;
}

.checkbox span em {
    color: #999;
    font-style: normal;
    font-size: 12px;
}

hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 15px 0;
}

.more {
    color: #ff3f6c;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}

.price-slider {
    position: relative;
}

.price-slider input[type="range"] {
    width: 100%;
    margin: 6px 0;
    accent-color: #f4029f;
}

.price-range {
    font-size: 13px;
    color: #333;
    margin-top: 5px;
}

.checkbox,
.radio {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 8px 0;
    cursor: pointer;
}

.checkbox input,
.radio input {
    margin-right: 8px;
}

.checkbox span em {
    color: #999;
    font-style: normal;
    font-size: 12px;
}

.color-dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    border: 1px solid #ccc;
}

.black {
    background: #222;
}

.white {
    background: #fff;
}

.blue {
    background: #1e88e5;
}

.green {
    background: #43a047;
}

.navy {
    background: #1a237e;
}

.grey {
    background: #9e9e9e;
}

.red {
    background: #e53935;

}

.discount-range {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

                             /* scroll-top-icon */
.scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* background-color: #3f4254; */
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}

.scroll-top:hover {
    background-color: #2e3045;
    transform: translateY(-3px);
}

                      /* mens t-shirt product-section */
.product-section {
    width: 1040px;
    /* height: 800px; */
    /* border: 2px solid red; */
    margin-left: 30px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-card {
    width: 210px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.image-box {
    position: relative;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    display: block;
}

.image-box p {
    width: 210px;
    height: 24px;
    text-align: center;
    position: absolute;
    bottom: -24px;
    left: 0;
    /* transition: 1s; */
    /* border: 2px solid red; */
    background-color: aliceblue;
    z-index: 1;
    overflow: hidden;

}

.image-box:hover p {
    bottom: 0;
    left: 0;

}

.rating {
    position: absolute;
    bottom: 8px;
    left: 8px;
    background: #fff;
    padding: 3px 6px;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.rating span {
    color: #000;
    font-weight: 600;
}

.rating .reviews {
    color: #666;
    font-weight: normal;
}

.product-info {
    padding: 12px;
}

.product-info h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
}

.product-info .desc {
    font-size: 13px;
    color: #555;
    margin: 4px 0 8px;
}

.price {
    font-size: 11px;
}

.price .current {
    font-weight: 700;
}

.price .old {
    text-decoration: line-through;
    color: #888;
    margin-left: 6px;
}

.price .discount {
    color: #ff3f6c;
    margin-left: 6px;
    font-weight: 600;
}


.middle-part {
    width: 1320px;
    margin: auto;
    /* height: 800px; */
    /* border: 2px solid yellow; */
    display: flex;
}


                          /* t-shirts look details page */

                                      /* Images */

.product-container {
    width: 100%;
    display: flex;
    margin-bottom: -200px;


}

.product-images {
    width: 58%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    /* border: 2px solid red; */
    padding-left: 20px;
    padding-bottom: 270px;
    /* background-color: green; */

}

.product-images img {
    width: 48%;
    /* border-radius: 4px; */
}

                                    /* Details */
.product-details {
    /* flex: 1; */
    height: 820px;
    width: 42%;
    box-sizing: border-box;
    padding: 0px 0px 0px 30px;
    /* background-color: yellow; */
}

.product-details h1 {
    font-size: 22px;
    margin-bottom: 5px;
}

.subtitle {
    color: #666;
    margin-bottom: 10px;
}

.rating1 {
    display: flex;
    gap: 10px;
    margin-bottom: -5px;
}

.rate {
    background: #388e3c;
    color: #fff;
    padding: 2px 6px;
    font-size: 14px;
    border-radius: 3px;
}

.reviews {
    color: #555;
}

                                      /* Price */
.price2 {
    margin: 7px 0;
}

.current2 {
    font-size: 30px;
    font-weight: bold;
}

.mrp {
    text-decoration: line-through;
    color: #777;
    margin-left: 10px;
}

.off {
    color: #ff5722;
    margin-left: 10px;
}

.tax {
    color: green;
    font-size: 14px;
    margin-bottom: 20px;
}

                                           /* Colors */
.colors h4 {
    margin-bottom: 8px;
}

.colors img {
    width: 60px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

                                          /* Sizes */
.sizes {
    margin-top: 20px;
}

.size-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.size-header a {
    color: #ff3f6c;
    text-decoration: none;
    font-size: 14px;
    margin-right: 330px;
}

.size-options button {
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.size-options .active {
    border-color: #ff3f6c;
    color: #ff3f6c;
    font-weight: bold;
}

                                       /* Actions */
.actions {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.add-bag {
    background: #ff3f6c;
    color: #fff;
    border: none;
    padding: 14px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.wishlist {
    background: #fff;
    border: 1px solid #ccc;
    padding: 14px 25px;
    cursor: pointer;
    border-radius: 4px;
}

                                      /* info-products */

.info-box {
    max-width: 420px;
    color: #222;
}

.section-title {
    font-size: 14px;
    font-weight: 700;
    margin: 25px 0 12px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    font-size: 16px;
}

.pincode-box {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
    padding-right: 280px;
}

.pincode-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.pincode-box button {
    background: none;
    border: none;
    color: #ff3f6c;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
}

.hint {
    font-size: 12px;
    color: #666;
    margin-bottom: 14px;
}

.features,
.offers {
    padding-left: 18px;
    font-size: 18px;
    color: #333;
}

.features li,
.offers li {
    margin-bottom: 8px;
}

.price {
    font-size: 14px;
    margin: 10px 0;
}

.price span {
    color: #ff3f6c;
    font-weight: 700;
}

.link {
    display: inline-block;
    margin-top: 6px;
    font-size: 14px;
    color: #ff3f6c;
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    text-decoration: underline;
}

.bank-offer {
    margin-top: 16px;
    color: #222;
    font-size: 19px;

}

.bank-offers {
    max-width: 420px;
    font-size: 20px;
}

.offer {
    margin-bottom: 22px;
    font-size: 19px;
}

.terms {
    font-size: 13px;
    color: #ff3f6c;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 6px;
}

.terms:hover {
    text-decoration: underline;
}

.offer h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 6px;
    color: #222;
}

.offer ul {
    padding-left: 18px;
    margin: 0;
}

.offer li {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
}

.offer-list {
    max-width: 420px;
}

.offer-item {
    margin-bottom: 24px;
}

.tc {
    color: #ff3f6c;
    font-size: 13px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 6px;
}

.tc:hover {
    text-decoration: underline;
}

.offer-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: #222;
    margin: 0 0 8px;
    line-height: 1.35;
}

.offer-item ul {
    padding-left: 18px;
    margin: 0;
}

.offer-item li {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
}

.view-plan {
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
    color: #ff3f6c;
    text-decoration: none;
    font-weight: 600;
}

.view-plan:hover {
    text-decoration: underline;
}